*
{
    /*background: #e2e2e2;*/
}

body
{
  font-family: calibri !important;
}
#menu
{
  background:#840995;
}
.navbar .nav-item .nav-link
{
  color:#fff;
  font-size: 23px;
  font-weight: 600 !important;
}
.navbar .nav-item :hover
{
  color:#fff;
  border-top:1px solid silver;
  border-bottom:1px solid silver;
  transition: 1.3s;
  transform: scale(0.7);
}

#header 
{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #840995;
  color: #fff;
  text-decoration: none;
}

/*------------------------
 # Banner Section
-------------------------*/
#hero {
  width: 100%;
  height: 85vh;
  background: url('....img\1.jpg') top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#hero:before {
  background: rgba(5, 13, 24, 0.2);
  position: absolute;
  bottom: ;
  top: ;
  left: ;
  right: ;
  z-index: ;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}


/*-------------------
 # Heading's Css
--------------------*/
.heading{
  font-size: 5rem !important;
  color:  !important;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color:  #840995;
}

#hero p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 15px;
  letter-spacing: 1px;
  border-bottom: 3px solid #149ddd;
}

.section-title {

  padding-bottom: 30px;
}

.section-title h1 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  color: #840995;
}

.about .content h3 {
  font-weight: 700;
  font-size: 40px;
  color: #8F2CB0;
}

.about .content h4{
  font-weight: 700;
  font-size: 26px;
  color: #840995;
}

.about .content h5
{
  font-weight: bold;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  margin-top:15px;
  font-size: 16px;
  margin-right: 5px;
  color:black;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.#skll h1
{
  font-size: 50px;
}

.carousel-inner img
{
  width:100%!important;
  height:600px!important; 
}

.hobbies
{
   font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;  
  
}

body{margin-top:20px;
background:#eee;
}
.single_advisor_profile {
    position: relative;
    margin-bottom: 50px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    z-index: 1;
    border-radius: 15px;
    -webkit-box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
    box-shadow: 0 0.25rem 1rem 0 rgba(47, 91, 234, 0.125);
}
.single_advisor_profile .advisor_thumb {
    position: relative;
    z-index: ;
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    padding: 30px 30px 0 30px;
    overflow: hidden;
}
.single_advisor_profile .advisor_thumb::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    width: 150%;
    height: 80px;
    bottom: -45px;
    left: -25%;
    content: "";
    background-color: #ffffff;
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
@media only screen and (max-width: 575px) {
    .single_advisor_profile .advisor_thumb::after {
        height: 160px;
        bottom: -90px;
    }
}
.single_advisor_profile .advisor_thumb .social-info {
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    right: 30px;
    text-align: right;
}
.single_advisor_profile .advisor_thumb .social-info a {
    font-size: 14px;
    color: #020710;
    padding: 0 5px;
}
.single_advisor_profile .advisor_thumb .social-info a:hover,
.single_advisor_profile .advisor_thumb .social-info a:focus {
    color: #3f43fd;
}
.single_advisor_profile .advisor_thumb .social-info a:last-child {
    padding-right: 0;
}
.single_advisor_profile .single_advisor_details_info {
    position: relative;
    z-index: 1;
    padding: 30px;
    text-align: right;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 0 0 15px 15px;
    background-color: #ffffff;
}
.single_advisor_profile .single_advisor_details_info::after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 3px;
    background-color: ;
    content: "";
    top: 12px;
    right: 30px;
}
.single_advisor_profile .single_advisor_details_info h6 {
    margin-bottom: 0.25rem;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info h6 {
        font-size: 14px;
    }
}
.single_advisor_profile .single_advisor_details_info p {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    margin-bottom: 0;
    font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .single_advisor_profile .single_advisor_details_info p {
        font-size: 12px;
    }
}
.single_advisor_profile:hover .advisor_thumb::after,
.single_advisor_profile:focus .advisor_thumb::after {
    background-color: #070a57;
}
.single_advisor_profile:hover .advisor_thumb .social-info a,
.single_advisor_profile:focus .advisor_thumb .social-info a {
    color: #ffffff;
}
.single_advisor_profile:hover .advisor_thumb .social-info a:hover,
.single_advisor_profile:hover .advisor_thumb .social-info a:focus,
.single_advisor_profile:focus .advisor_thumb .social-info a:hover,
.single_advisor_profile:focus .advisor_thumb .social-info a:focus {
    color: #ffffff;
}
/* css */
.progress-bar .bar .progress:hover{
  color:red;
  background-color: red;
}
.single_advisor_profile:hover .single_advisor_details_info,
.single_advisor_profile:focus .single_advisor_details_info {
    background-color: #840995;
}
.single_advisor_profile:hover .single_advisor_details_info::after,
.single_advisor_profile:focus .single_advisor_details_info::after {
    background-color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info h4,
.single_advisor_profile:focus .single_advisor_details_info h4 {
    color: #ffffff;
}
.single_advisor_profile:hover .single_advisor_details_info h5,
.single_advisor_profile:focus .single_advisor_details_info h5 {
    color: #ffffff;
}
#card
{
  margin-top:3px;
}
#card1
{
  font-family: cursive;
  font-weight:bold;
  font-size: 19px;
}
#two
{
    color:red;
}
